* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f2e9ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  position: relative;
  width: 100px;
  height: 500px;
  margin: 10px;
  border-radius: 50px;

  background: url(assets/bolo_01.jpg);
  background-size: cover;
  background-position: center;

  transition: width 1s ease, bottom 1s ease, visibility 0s ease 1s; /* Ajuste aqui */
}

.img-box:nth-child(2) {
  background: url(assets/bolo_02.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(3) {
  background: url(assets/bolo_03.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(4) {
  background: url(assets/bolo_04.jfif);
  background-size: cover;
  background-position: center;
}

.img-box p {
  color: #000;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 30px;
  visibility: hidden;
  transition: visibility 0s, bottom 1s ease; /* Suavizando a transição do texto */
}

.img-box:hover {
  width: 500px;
  cursor: pointer;
  transition: width 1s ease, bottom 1s ease, visibility 0s ease 0s; /* Adicionando transições suaves */
}

.img-box:hover p {
  visibility: visible;
  bottom: 25px;
}
